* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.header {
    
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 0 auto;
    background-color: #1f2937;
    font-family: roboto;
    color: #f9faf8;
}
#header-top{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#ht-left {
    flex: 1;
    font-size: 24px;
    color: #f9faf8;
}
#ht-right > a {
    text-decoration: none;
    color: #e5e7eb;
    
}
#ht-right {
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 30px;

}
#hcl-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 10px;
    margin: 5px;

}
#hcl-sub {
    padding: 10px;
    margin: 5px;
}
#header-content {
    display: flex;
    justify-content: space-between;
    

}
#hc-left {
    flex: 1;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    margin: 5px;
}
/*-------------------------------------------------------------------------------*/
.div1 {
    display: flex;
    flex-direction: column;
    padding: 10px 250px 10px 250px;
    
}
#div1-title {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    
}
#div1-content {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 80px;
    
}
.d1i{
    height: 200px;
    width: 200px;
    
}

/*-------------------------------------------------------------------------------*/
.div2 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 10px 250px 10px 250px;

}
#div2-para1 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div2-para2 {
    font-size: 36px;
    justify-content: end;
    display: flex;
}
/*-------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------*/
.footer {
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
    display: flex;
    padding: 25px;

}